:root {
    --main-color: #9961fa;
    --second-color: #fdb42b;
}

body {
    font: 20px arial, sans-serif;
}

.navbar {
    background: var(--second-color);
}

.quem-somos {
    background-color: var(--main-color);
    color: #fff;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #24291f;
    color: #fff;
}

.rodape {
    background-color: #24291f;
    margin: 0;
    color: #fff;
    padding: 30px;
}